<h1>New Trip</h1>

<%= form_for @calendar do |f| %>
  <%= f.label :destination %>
  <%= f.collection_select :destination %>

  <%= f.label :arrival_date %>
  <%= f.arrival_date_field :arrival_date %>

  <%= f.label :departure_date %>
  <%= f.departure_date_field :departure_date %>

  <%= f.submit "New Trip!" %>
<% end %>
