<h1>Join TravelMate</h1>

<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg.capitalize %></li>
    <% end %>
  </ol>
<% end %>

<div class="container">
  <div id="column1">

<%= form_for @user do |f| %>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, :required => true %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="form-group">
  <%= f.submit "Join!" %>
</div>

<% end %>
</div>
</div>
